CasaCambioClientApp/src/wsdl/localhost_21674/CasaCambioWS/CasaCambioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.casacambioweb.uniminuto.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.casacambioweb.uniminuto.com/" name="CasaCambioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.casacambioweb.uniminuto.com/" schemaLocation="http://localhost:21674/CasaCambioWS/CasaCambioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="cambiarDolaresSoles">
<part name="parameters" element="tns:cambiarDolaresSoles"/>
</message>
<message name="cambiarDolaresSolesResponse">
<part name="parameters" element="tns:cambiarDolaresSolesResponse"/>
</message>
<message name="cambiarSolesADolares">
<part name="parameters" element="tns:cambiarSolesADolares"/>
</message>
<message name="cambiarSolesADolaresResponse">
<part name="parameters" element="tns:cambiarSolesADolaresResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="CasaCambioWS">
<operation name="cambiarDolaresSoles">
<input wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/cambiarDolaresSolesRequest" message="tns:cambiarDolaresSoles"/>
<output wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/cambiarDolaresSolesResponse" message="tns:cambiarDolaresSolesResponse"/>
</operation>
<operation name="cambiarSolesADolares">
<input wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/cambiarSolesADolaresRequest" message="tns:cambiarSolesADolares"/>
<output wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/cambiarSolesADolaresResponse" message="tns:cambiarSolesADolaresResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws.casacambioweb.uniminuto.com/CasaCambioWS/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="CasaCambioWSPortBinding" type="tns:CasaCambioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cambiarDolaresSoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cambiarSolesADolares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CasaCambioWS">
<port name="CasaCambioWSPort" binding="tns:CasaCambioWSPortBinding">
<soap:address location="http://localhost:21674/CasaCambioWS/CasaCambioWS"/>
</port>
</service>
</definitions>